In [ ]:
#IMPORT INDEPENDENCIES
import numpy as np 
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
#LOADING THE DATASET
dataset = pd.read_csv('/content/drive/MyDrive/Datasets/Datasets/Buy_car_data.csv')
dataset.head()

,S.No,Gender,Age Group,Income Status,Marital Status,Credit Rating,profession,License,Buy Car
0,1,Female,Young,Low,Single,Fair,Non-IT,Yes,Yes
1,2,Female,Old,Medium,Married,Bad,Non-IT,No,No
2,3,Female,Young,Low,Divorced,Excellent,IT,Yes,Yes
3,4,Male,Middle_aged,High,Married,Excellent,IT,Yes,No
4,5,Female,Old,Medium,Divorced,Fair,Non-IT,No,Yes

In [ ]:
#EXPLORING THE DATASET FEATURES
dataset.columns

Index(['S.No', 'Gender', 'Age Group', 'Income Status', 'Marital Status',
       'Credit Rating', 'profession', 'License', 'Buy Car'],
      dtype='object')

In [ ]:
for col in dataset.columns:
    print(f"Unique values in {col} column: {dataset[col].unique()}")

Unique values in S.No column: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19]
Unique values in Gender column: ['Female' 'Male']
Unique values in Age Group column: ['Young' 'Old' 'Middle_aged']
Unique values in Income Status column: ['Low' 'Medium' 'High']
Unique values in Marital Status column: ['Single' 'Married' 'Divorced']
Unique values in Credit Rating column: ['Fair' 'Bad' 'Excellent']
Unique values in profession column: ['Non-IT' 'IT']
Unique values in License column: ['Yes' 'No']
Unique values in Buy Car column: ['Yes' 'No']

In [ ]:
#DROPPING THE INDEX FEATURE BECAUSE IT IS IRRELEVENT
dataset = dataset.drop(['S.No'], axis=1)
dataset.head()

,Gender,Age Group,Income Status,Marital Status,Credit Rating,profession,License,Buy Car
0,Female,Young,Low,Single,Fair,Non-IT,Yes,Yes
1,Female,Old,Medium,Married,Bad,Non-IT,No,No
2,Female,Young,Low,Divorced,Excellent,IT,Yes,Yes
3,Male,Middle_aged,High,Married,Excellent,IT,Yes,No
4,Female,Old,Medium,Divorced,Fair,Non-IT,No,Yes

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

for column in dataset.columns:
        if column== 'Buy Car':
          dataset[column] = le.fit_transform(dataset[column])
dataset.head()

,Gender,Age Group,Income Status,Marital Status,Credit Rating,profession,License,Buy Car
0,Female,Young,Low,Single,Fair,Non-IT,Yes,1
1,Female,Old,Medium,Married,Bad,Non-IT,No,0
2,Female,Young,Low,Divorced,Excellent,IT,Yes,1
3,Male,Middle_aged,High,Married,Excellent,IT,Yes,0
4,Female,Old,Medium,Divorced,Fair,Non-IT,No,1

In [ ]:
#ASSIGNING DEPENDENT AND INDEPENDENT VARIABLES

X = dataset.iloc[:,:-1].values
y = dataset.iloc[::,-1].values

In [ ]:
from sklearn.preprocessing import OrdinalEncoder
from sklearn.naive_bayes import CategoricalNB
encoder = OrdinalEncoder()

# Then, use the encoder to transform the categorical features
X_encoded = encoder.fit_transform(X)

# Create an instance of the CategoricalNB classifier
model = CategoricalNB()

# Fit the model using the encoded features and the target variable
model.fit(X_encoded, y)

CategoricalNB()

In [ ]:
print('accuracy is: ', model.score(X_encoded,y))

accuracy is:  0.7368421052631579

In [ ]:
#MANUALLY TESTING OUR MODEL
test = [['Male', 'Old', 'Medium', 'Married', 'Bad', 'IT','No']]
y_encoded = encoder.transform(test)

In [ ]:
y_encoded

array([[1., 1., 2., 1., 0., 0., 0.]])

In [ ]:
y_pred = model.predict(y_encoded)
print("So the predicted class is: ", y_pred)

So the predicted class is:  [1]

In [ ]:
## SO MODEL PREDICTED SAME AS MY MANUAL CALCUCLATIONS ON THIS DATASET.